@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.7;
  word-spacing: 1.4px;
  font-size: clamp(35%, 62.5%, 80%);

  color-scheme: light dark;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  --color-text: #101010;
  --background-color: #efefef;

  --color-primary-transparent: #15161061;
  --color-primary-transparent-light: #ededede7;

  --title-text-size: 7.4rem;
  --body-text-size: 1.4rem;
}

@media (min-width: 640px) {
  :root {
    --title-size: 15rem;
    --body-text-size: 1.9rem;
  }
}

@media (min-width: 768px) {
  :root {
    --title-size: 20.8rem;
    --body-text-size: 2.4rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text-dark: var(--accent-color-1);
    --bg-color: #141414;

    --color-primary-transparent: #ffffff3a;
    --color-primary-transparent2: #141414e7;
  }
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
    overscroll-behavior: none;
  }

  body {
    color: var(--color-text);
    background: var(--background-color);
    font-size: clamp(1.4rem, 1.6vw, 1.6rem);
  }
}

@layer components {
  .container {
    margin: auto;
    background-color: red;
  }

  @layer utilities {
    .page {
      width: 95vw;
      height: 90vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 10rem auto 0 auto;
    }
  }

  h1,
  h2,
  h3 {
    line-height: 2.4;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* p {
  animation: fadeInUp linear;
  animation-timeline: view();
  animation-range: contain;
} */
